body,html{
	-webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    min-height: 100%;
	min-width:100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.coverwrap{
	
	min-height:100%;
	width:100%;
	background-color: #f6f6f6; 
  background: url(march.jpg) no-repeat 0px 0px fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}
.formdiv{
	height:100%;
	
}
.formhold{
	width:360px;
}
.formbtn,.verformbtn{
	width:95%;
}
.backbtn{
	margin-top:-30px;
	margin-bottom:-10px;
}